# NexCore internal DNS configuration

domain-needed
bogus-priv
expand-hosts

listen-address=127.0.0.1
listen-address={{ hostvars['servera'].ansible_default_ipv4.address }}

local=/{{ domain_name }}/
domain={{ domain_name }}

address=/{{ wiki_fqdn }}/{{ hostvars['servera'].ansible_default_ipv4.address }}
address=/{{ www_fqdn }}/{{ hostvars['servera'].ansible_default_ipv4.address }}
address=/servera.{{ domain_name }}/{{ hostvars['servera'].ansible_default_ipv4.address }}
address=/serverb.{{ domain_name }}/{{ hostvars['serverb'].ansible_default_ipv4.address }}

mx-host={{ domain_name }},servera.{{ domain_name }},10

# Do not read /etc/resolv.conf after it is changed to local dnsmasq.
# Upstream DNS servers are loaded from a generated dnsmasq config file.
no-resolv
conf-file=/etc/dnsmasq.upstream.conf